.favorites_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}