@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.body {
    display:flex;
    flex-direction: column;
    background-color: lightgray;
    height: 100vh;
}

header {
    background-color: rgb(51, 128, 130);
    margin: 0;
}

.navigation {
    display:flex;
    flex-direction: row;
    padding: 0;
}

.navigation li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: lightblue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 500px;
    background-color: lightgray;
}

h1 {
    font-family: 'Playwrite IN', sans-serif;
    font-size: 5vw;
    color: darkblue;
    align-self: center;
}

footer {
    background-color: rgb(51, 128, 130);    
    margin: 0;
    justify-self: end;
    flex: 0 1 70px;
    text-decoration: none;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: lightblue;
}

li {
    margin: 5px;
    padding: 5px;
}    

hr {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    border-style: inset;
    border-width: 5px;
    border-color: gray;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

button {
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: blue;
    color: white;
    flex: 0 0 30px;
}

button:hover {
    border-color: black;
    background-color: lightblue;
}

h2 {
    font-size: 2em;
}

img {
    margin: 10px;
    max-width: 70%; 
    max-height: 500px;
    height: auto;
    border-radius: 10px;; 
}

@media (max-width: 600px) {
    h1 {
        font-size: 10vw;
    }

    .navigation {
        font-size: 4vw;
    }

    footer {
        font-size: 4vw;
    }
}